@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-deepteal: hsl(180, 27%, 25%);
  --color-warmcoal: #dc6f4a;
  --color-charcoal: hsl(0, 0%, 16%);

  --color-softmint: hsl(150, 14%, 95%);
  --color-mint: hsl(150, 19%, 53%);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); /* ... */
}

@layer components {
  .text-input-1 {
    @apply bg-softmint px-5 py-3 rounded-2xl text-black/80 font-semibold focus:ring-0 outline-none border-4 border-charcoal/80;
  }

  .text-input-2 {
    @apply bg-softmint px-5 py-2 rounded-2xl text-black/80 font-semibold focus:ring-0 outline-none border-4 border-black;
  }

  .text-input-3 {
    @apply bg-gray-100 px-5 py-3 rounded-2xl text-black/80 font-semibold focus:ring-0 outline-none;
  }

  .text-input-4 {
    @apply bg-gray-100 px-5 py-3 rounded-2xl text-black/80 font-semibold focus:ring-0 outline-none  border-charcoal/80;
  }

  .button-1 {
    @apply bg-charcoal/10 text-charcoal font-bold px-5 py-3 rounded-2xl hover:scale-105 transition-all;
  }

  .button-2 {
    @apply bg-charcoal text-white font-bold px-5 py-3 rounded-2xl hover:scale-105 transition-all;
  }

  .button-3 {
    @apply bg-mint text-white font-bold px-5 py-3 rounded-2xl hover:scale-105 transition-all;
  }
  .button-4 {
    @apply bg-warmcoal text-white font-bold px-5 py-3 rounded-2xl hover:scale-105 transition-all;
  }
  .tag-1 {
    @apply bg-mint text-white text-base font-semibold px-3 py-1 rounded-xl;
  }

  .tag-2 {
    @apply bg-charcoal/10 text-charcoal font-bold px-3 py-1 rounded-2xl;
  }

  .tag-3 {
    @apply text-white font-bold px-3 py-1 rounded-2xl;
  }

  .field-error-1 {
    @apply text-warmcoal font-semibold italic text-sm -mt-9 self-start min-h-fit;
  }
}
::-webkit-scrollbar {
  display: none;
}

@layer base {
  button,
  [role="button"] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: default;
  }
}
